[submodule "llvm"]
	path = llvm
	url = https://github.com/thegameg/llvm.git
	branch = fvm/nolimix86
	ignore = dirty
[submodule "tests/unit/googletest"]
	path = tests/unit/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
